{% extends 'base.html.twig' %}

{% block title %}Test Technique Santiago{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1><u>{{ controller_name }}!</u></h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="flatList_Block">
        {% for flat in flats_list %}
        <div class="flat_block_title">
            <b>Appartement avec ID:{{ flat.id }}</b>
        </div>
        <ul>
            <li>Adresse: {{ flat.Address }}</li>
            <li>Numero de l'etage: {{ flat.floor }}</li>
            <li>Numero de chambres: {{ flat.roomNumber }}</li>
            <li>Ascenseur Inclus: {{ flat.elevator  ? 'Oui' : 'Non' }}</li>
        </ul>
        <a href="/updateInfo/{{ flat.id }}">Modifier l'information</a>
            <p></p>
        {% endfor %}
    </div>
</div>
{% endblock %}
