{% extends 'base.html.twig' %}

{% block title %}Test Technique Santiago{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
<div class="example-wrapper">
{% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}
    {{ form_start(update_form) }}
    <div class="form-group">
        <label for="InputAdresse">Nouvelle Adresse</label>
        <div class="alert-danger">
            {{ form_errors(update_form.Address) }}
        </div>
        {{ form_widget(update_form.Address) }}
    </div>
    <div class="form-group">
        <label for="InputFloor">Nombre d'etages</label>
        <div class="alert-danger">
            {{ form_errors(update_form.Floor) }}
        </div>
      {{ form_widget(update_form.Floor) }}
    </div>
    <div class="form-group">
        <label for="InputFloor">Nombre de chambres</label>
        <div class="alert-danger">
            {{ form_errors(update_form.Room_number) }}
        </div>
        {{ form_widget(update_form.Room_number) }}
    </div>
    <div class="form-group form-check">
        {{ form_widget(update_form.Elevator) }}
        <label class="form-check-label" for="exampleCheck1">Avec ascenseur?</label>
    </div>
    <button class="btn btn-primary" type="submit"> Mettre a jour </button>
    {{ form_end(update_form) }}
</div>
{% endblock %}
